<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="star-rating" data-score= <%= @average_rating %> ></div>
        <em><%= "#{@user_ratings.length} user ratings" %></em> |
        <% if @book.user_id == current_user.id %>
          <%= link_to 'Edit', edit_book_path(@book) %> |
          <%= link_to 'Delete', book_path(@book), method: :delete,
                       data: {confirm: "Really delete this book?"} %> |
        <% end %>
        <%= link_to 'Back', books_path %>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @book.title %></td>
              </tr>
              <tr>
                <td><strong>Author:</strong></td>
                <td><%= @book.author %></td>
              </tr>
              <tr>
                <td><strong>Genre:</strong></td>
                <td><%= @book.genre %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_book_user_rating_path(@book) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="user_rating_title"><%= @book.title %></h1>
        <p><%= @book.prologue %></p>

        <% if @user_ratings.blank? %>
          <h3>There's no any review yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_book_user_rating_path(@book), class: "btn btn-danger" %>
        <% else %>
          <% @user_ratings.each do |user_rating| %>
            <div class="user_ratings">
              <div class="star-rating" data-score= <%= user_rating.score %> ></div>
              <p><%= user_rating.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
